{% extends 'base.html' %}

{% block title %}My Events - Event Finder{% endblock %}

{% block content %}

{% for event in myEvent %}
<div class="list-group-item">
    <div>  
        <img src="{{ url_for('static', filename='images/' + event.image_url) }}" class="img-fluid" alt="{{ event.event_name }}" style="border-radius: 8px; max-width: 20vh; max-height: 15vh;"> 
        <h5 class="mt-3" style="font-size: 1.8rem;">{{ event.event_name }}</h5>
        <div class="row">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-6">
                        <p class="card-text"><strong>Location:</strong> {{ event.location }}</p>
                        <p class="card-text"><strong>Description:</strong> {{ event.event_description }}</p>
                        <p class="card-text"><strong>Category ID:</strong> {{ event.category_id }}</p>
                    </div>
                    <div class="col-md-6">
                        <p class="card-text"><strong>Date:</strong> {{ event.date }}</p>
                        <p class="card-text"><strong>Start Time:</strong> {{ event.event_start }}</p>
                        <p class="card-text"><strong>End Time:</strong> {{ event.event_end }}</p>
                        <p class="card-text"><strong>Capacity:</strong> {{ event.capacity }}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-end">
                <div class="border p-3" style="font-size: 1.5rem; background-color: #f8f9fa;">
                    <strong>
                        {% if event.paid == 'paid' %}
                        ${{ event.ticket_price }}
                        {% else %}
                        Free
                        {% endif %}

                    </strong>
                </div>
            </div>
        </div>
    </div> 
</div>
{% endfor %}
{% endblock %}
